PORT=5001
MONGODB_URI=mongodb+srv://nexgengroup2026:wH3f1F5J6S5Nvh7L@cluster0.o8edv.mongodb.net/taxfiler?retryWrites=true&w=majority
JWT_SECRET=super_secret_taxfiler_jwt_key_2026_nexgen_accounting
NOTIFICATION_EMAIL=nexgengroup2026@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
